
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #508c9b;
  font-family: Arial, sans-serif;
}

/* navbar  */

/* Initial Navbar Styling */
/* Navbar Styling */



/* .sidebar .sidebar-content .university a{ text-decoration: none; color: white; }
.sidebar .sidebar-content .university a{ background-color: #4cc1ec; border-radius: 10px; } */

/* Navbar Styling */

nav {
  background-color: black; /* Initial black background */
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease, 
              box-shadow 0.3s ease;
}

/* Sticky Navbar Styling */
nav.sticky {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
   box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;  
}

/* Logo Styling */
nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  height: 70px;
  width: auto;
  margin-right: 10px;
}

nav .logo h1 {
  font-size: 1.1rem;
  background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navigation Styling */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: auto;
  gap: 32px;
  line-height: 24px;
  flex-wrap: nowrap; /* Ensures the items stay in a row */
}

nav ul li {
  position: relative;
}

/* Drop-Down-SERVICES */
.dropdown {
  display: none; /* Hide dropdown by default */
  position: absolute;
  top: 100%; /* Position it below the parent li */
  left: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
  z-index: 10; /* Ensure it appears above other content */
  padding: 10px 0;
  min-width: 200px; /* Set a minimum width for the dropdown */
}

/* Dropdown Items Styling */
.dropdown li {
  margin: 0;
}

.dropdown li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 90%;
  padding: 10px 20px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.dropdown li a:hover {
  background-color: #333; /* Darker background on hover */
}

/* Show Dropdown on Hover */
nav ul li:hover .dropdown {
  display: block; /* Show the dropdown when hovering over the parent li */
}
/* Drop-Down-SERVICES */

nav ul li a {
  font-family: "Varela Round", sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 95%;
  font-weight: 700;
  line-height: 24px;
  padding: 4px 4px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
}

nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(45deg, rgb(73, 231, 252),rgb(99, 20, 245));
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

nav ul li a:hover::before {
  transform: scaleX(1);
}

/* Button Styling */
nav .button1 {
  color: white;
  background-color: #2d7eff;
  border: 5px solid transparent;
  transition: 0.2s ease;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 12px;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 12px;
  letter-spacing: 2px;
  margin-left: auto; /* Keep button on the far right initially */
}

nav .button1:hover {
  color: #2d7eff;
  background-color: white;
  transform: scale(1.1);
  border: 5px solid #2d7eff;
}

/* Hamburger Styling */
.hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 24px; /* Adjust height to accommodate the cross */
  z-index: 3;
}

.hamburger .line {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}

.hamburger .line:nth-child(1) {
  top: 0;
}

.hamburger .line:nth-child(2) {
  top: 10px;
}

.hamburger .line:nth-child(3) {
  top: 20px;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* Responsive Adjustments */
@media screen and (max-width: 1100px) {
  nav ul {
    display: none; /* Hide the navigation links */
  }

  nav {
    justify-content: flex-end; /* Align items to the right */
  }

  .button1 {
    margin-right: 20px; /* Position button next to the hamburger */
  }

  .hamburger {
    display: block;
  }

  .hamburger + .button1 {
    order: 1; /* Place button to the left of the hamburger */
  }
}

/* Menubar */

.menubar {
  position: fixed;
  right: -100%; /* Start off-screen */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: auto;
  padding: 20% 0;
  background-color: rgba(0, 0, 0, 0.6); /*Semi-transparent background8*/
  backdrop-filter: blur(10px);
  transition: all 0.5s ease-in;
  z-index: 2;
}

.menubar.active {
  right: 0; /* Slide in from the left */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

.menubar ul li {
  margin-bottom: 32px;
  position: relative; /* Needed for dropdown positioning */
}

/* Dropdown Menu Styling */
.menubar ul li .dropdown {
  display: none; /* Hide dropdown by default */
  position: absolute;
  top: 100%; /* Position it below the parent li */
  left: 0;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
  z-index: 10; /* Ensure it appears above other content */
  padding: 10px 0;
  min-width: 200px; /* Set a minimum width for the dropdown */
}

/* Show Dropdown on Hover */
.menubar ul li:hover .dropdown {
  display: block; /* Show the dropdown when hovering over the parent li */
}

/* Dropdown Items Styling */
.menubar .dropdown li {
  margin: 0;
}

.menubar .dropdown li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 90%;
  padding: 10px 20px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menubar .dropdown li a:hover {
  background-color: #333; /* Darker background on hover */
}

/* Menubar Links Hover Animation */
.menubar ul li a {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  color: #ffffff;
  font-size: 95%;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block; /* Ensure the link wraps around the text */
  position: relative; /* Needed for the hover animation */
  letter-spacing: 2px;
}

.menubar ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Full width of the text */
  height: 2px;
  background: linear-gradient(45deg, rgb(73, 231, 252),rgb(99, 20, 245));
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.menubar ul li a:hover::before {
  transform: scaleX(1);
}

@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }

  nav ul {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  nav ul {
    gap: 24px; /* Reduce the gap between menu items */
  }

  nav .logo img {
    height: 60px; /* Slightly reduce logo size */
  }

  nav .logo h1 {
    font-size: 1rem; /* Adjust logo text size */
  }

  nav ul li a {
    font-size: 90%; /* Slightly reduce menu link text size */
    padding: 4px 4px; /* Adjust padding */
  }

  nav .button1 {
    padding: 9px 9px; /* Slightly reduce button size */
    font-size: 11px; /* Adjust button text size */
  }

  .hamburger {
    width: 28px; /* Adjust hamburger size */
    height: 22px; /* Adjust height for cross */
  }
}

/* Responsive Adjustments for 450px width */
@media screen and (max-width: 450px) {
  nav ul {
    gap: 16px; /* Reduce the gap between menu items */
  }

  nav .logo img {
    height: 50px; /* Decrease logo size */
  }

  nav .logo h1 {
    font-size: 0.9rem; /* Adjust logo text size */
  }

  nav ul li a {
    font-size: 85%; /* Reduce menu link text size */
    padding: 3px 3px; /* Adjust padding */
  }

  nav .button1 {
    padding: 8px 8px; /* Reduce button size */
    font-size: 11px; /* Adjust button text size */
  }
}

/* Responsive Adjustments for 393px to 350px width */
@media screen and (max-width: 393px) and (min-width: 350px) {
  nav .button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Ensure content stays in a row */
    padding: 8px 8px;
    font-size: 10px;
  }

  nav .button1 span {
    display: inline; /* Ensure text remains inline */
  }

  /* Adjustments for menu items, logo, etc. if necessary */
  nav ul {
    gap: 12px; /* Adjust gap between menu items */
  }

  nav .logo img {
    height: 40px; /* Adjust logo size */
  }

  nav .logo h1 {
    font-size: 0.85rem; /* Adjust logo text size */
  }

  nav ul li a {
    font-size: 80%;
    padding: 2px 2px; /* Adjust padding for smaller screen */
  }
}


/* Responsive Adjustments for 350px width */
@media screen and (max-width: 350px) {
  nav ul {
    gap: 10px; /* Further reduce the gap between menu items */
  }

  nav .logo img {
    height: 40px; /* Decrease logo size */
  }

  nav .logo h1 {
    font-size: 0.8rem; /* Further adjust logo text size */
  }

  nav ul li a {
    font-size: 75%; /* Reduce menu link text size more */
    padding: 2px 2px; /* Adjust padding */
  }

  nav .button1 {
    padding: 6px 6px; /* Reduce button size */
    font-size: 10px; /* Adjust button text size */
  }

  .hamburger {
    width: 25px; /* Reduce hamburger size */
    height: 20px; /* Adjust height for cross */
  }
}

/* Responsive Adjustments for 338px to 250px */
@media screen and (max-width: 338px) and (min-width: 250px) {
  /* Logo Adjustments */
  nav .logo img {
    height: 28px; /* Smaller logo size */
  }

  nav .logo h1 {
    font-size: 0.7rem; /* Smaller logo text */
  }

  /* Menu Items Adjustments */
  nav ul {
    gap: 6px; /* Reduce gap between menu items */
  }

  nav ul li a {
    font-size: 65%; /* Smaller menu link text */
    padding: 1px 2px; /* Smaller padding */
  }

  /* Button ("Contact Us") Adjustments */
  nav .button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Ensure row layout */
    padding: 3px 4px; /* Smaller button padding */
    font-size: 7px; /* Smaller button text */
    letter-spacing: 0.8px; /* Smaller letter spacing */
  }

  /* Hamburger Menu Adjustments */
  .hamburger {
    width: 18px; /* Further reduce hamburger size */
    height: 13px; /* Smaller height */
  }

  .hamburger .line {
    height: 1.5px; /* Thinner hamburger lines */
  }

  /* Dropdown or Menubar Adjustments if necessary */
  .menubar ul li a {
    font-size: 60%; /* Reduce dropdown menu font size */
    padding: 5px 8px; /* Adjust padding for dropdown items */
  }

  /* Adjust the general spacing to ensure the layout doesn't overflow */
  nav {
    padding: 5px 4%; /* Reduce navbar padding slightly */
  }
}

/* main page */
.mainpage {
  background-color: #212121;
  color: #fff;
  background-image: url("./images/Header-Image.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 3rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.main-section {
  max-width: 800px;
  margin: 0 10%;
}
.main-section .we h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.main-section .p p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.cta-button {
  background-color: #2c039b;
  color: #fff;
  border: none;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.cta-button:hover {
  background-color: #4cc1ec;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

/* Mobile App Section */
.mobile-app {
  background-color: #bbe1fa34;
  padding-bottom: 5rem;
  padding-top: 2rem;
}
.mobile-app h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 700;
  color: #000;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 40px;
}
.card {
  background-color: #5960ee;
  padding: 30px 20px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 0 12px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15), 0 20px 40px rgba(0, 0, 0, 0.1);
}
.icon {
  margin-bottom: 15px;
}
.icon i {
  font-size: 2.5rem;
  color: white;
}
.card h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}
.card p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
}

/* Services Section */
.services-section {
  padding: 70px 20px;
  text-align: center;
  background-color: #fbf9f8;
  padding-top: 6rem;
}
.section-title {
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 500;
  color: #000;
}
.services-button {
  padding: 5px 20px;
  border-radius: 25px;
  background-color: #4cc1ec;
  border: 1px solid #4cc1ec;
  color: white;
  font-weight: 600;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3rem;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.service-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border-top: 10px solid #4cc1ec;
  color: #1b262c;
}
.service-card:hover {
  transform: translateY(-10px);
}
.icon {
  margin-bottom: 20px;
}
.icon img {
  width: 60px;
  height: auto;
}
.service-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #40a2d8;
}
.service-card p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Web Design Section */
.web-design {
  padding: 50px 20px;
  background-color: #fff;
  color: #000;
  position: relative;
}
.web-design .container {
  max-width: 1200px;
  margin: 0 auto;
}
.web-design .row {
  margin-bottom: 2.5rem;
}
.web-design .carousel-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.web-design .carousel-item .web-design-content {
  text-align: justify;
}
.web-design .carousel-item h2 {
  color: #4cc1ec;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}
.web-design .carousel-item p {
  color: #1b262c;
  font-size: 1.2rem;
  line-height: 1.6;
  align-items: center;
}
.carousel-controls-container {
  position: absolute;
  bottom: 20px;
  right: 170px;
  display: flex;
  justify-content: flex-end;
}
.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5960ee;
  cursor: pointer;
  border-radius: 5px;
}
.carousel-control-prev {
  margin-right: 10px;
}
.carousel-control-next {
  margin-left: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

/* Why Choose Us Section */
.why-choose-us {background-color: #fff; text-align: center; color: #333; }
.why-button { background-color: #4cc1ec; color: #fff; border: none; padding: 5px 20px; border-radius: 25px; font-weight: bold; cursor: pointer; margin-bottom: 20px; }
.why-choose-us .section-header h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 500;
  color: #000;
}
.why-choose-us h3{color: #4cc1ec;}

/* Row and Column Layout */
.row { display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 40px; }
.column { flex: 1; max-width: 45%; min-width: 280px; margin-bottom: 20px; }
.column img { width: 7.5rem; height: 7.5rem; margin-bottom: 20px; }
.column h3 { font-size: 20px; font-weight: 600; margin-bottom: 15px; color: #000; }
.column p { font-size: 16px; color: #333; line-height: 1.5; text-align: justify; }



/* Project Section */
.projects-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f4eb;
  padding-bottom: 7rem;
}
.projects-header {
  margin-top: 3rem;
  margin-bottom: 30px;
}
.projects-button {
  background-color: #4cc1ec;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.projects-header h1 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}
.projects-list {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.project-item {
  font-size: 1rem;
  color: #666;
  text-align: justify;
}

/* Our Team Section */
.team-section {
  text-align: center;
  padding: 50px 20px;
  background-color: white;
  color: #1b262c;
}
.section-header {
  margin-bottom: 40px;
}
.section-header .section-title {
  background-color: #4cc1ec;
  color: white;
  padding: 5px 20px;
  border-radius: 25px;
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 20px;
  border: 1px solid #4cc1ec;
  font-weight: 600;
}
.team-section .section-header h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 500;
  color: #000;
}
.underline {
  width: 180px;
  height: 2px;
  background-color: #40a2d8;
  margin: 0 auto;
  margin-top: 25px;
}
.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.team-member {
  text-align: center;
  max-width: 300px;
}
.team-member img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}
.team-member img:hover {
  transform: scale(1.1);
}
.team-member h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #40a2d8;
}
.team-member p {
  font-size: 1rem;
  color: #1b262c;
}


/* about section  */

.abouts-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f4eb;
  /* padding-top: 5rem; */
  padding-bottom: 7rem;
  /* margin-top: 5rem; */
}
.abouts-header {
  margin-top: 5rem;
  margin-bottom: 30px;
}
.abouts-button {
  background-color: #4cc1ec;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.abouts-header h1 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
.abouts-list {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.about-item {
  font-size: 1rem;
  color: #666;
  text-align: justify;
}


/* contact section  */

.contacts-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
}
.contacts-header {
  margin-top: 3rem;
  margin-bottom: 30px;
}
.contacts-button {
  background-color: #4cc1ec;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.contacts-header h1 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: #40a2d8;
}
.contacts-list {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30px;
}
.contact-item {
  font-size: 1rem;
  color: #000;
  text-align: justify;
  /* margin-top: 3rem; */
  /* margin-bottom: 5rem; */
  
}
.contact-item ul{
  list-style: none;
}
.contact-item ul li {
  padding-top: 1rem;
}
.contact-item ul li a{
  color: #000;
  display: flex;
  gap:1rem;
  text-decoration: none;
}
.contact-item ul li a span i{
  /* fill:#eff9f8; */
  color: #000;
}
.contact-item ul li a:hover{
  color: #4cc1ec;
  text-decoration: underline;
}
.call-action{
padding-top: 1rem;
color: #000;
}






/* footer */
.footer {
  background-color: #ffffff;
  color: #333;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
}

.footer-logo {
  margin-bottom: 20px;
}

.logo-img {
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.footer h2 {
  color: #333;
  margin-bottom: 15px;
  font-size: 16px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer ul li a:hover {
  color: #000;
}

.footer-logo p {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  text-align: center;
}














#copy-right {
  background-color: #1b262cd5;
  color: #eff9f8;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  width: 100%;
}
#copy-right a {
  text-decoration: none;
  color: #00aaff;
}
#copy-right a:hover {
  text-decoration: underline;
}
.copy-right-sec i {
  margin-right: 5px;
}





/* Responsive Design */
@media (max-width: 1024px) {

    /* Why Choose Us Section */
    .row { flex-direction: column; align-items: center;}
    .row.reverse { flex-direction: column-reverse; }
    .column { max-width: 90%; }
    .column img { width: 6rem; height: 6rem; }


  .hideOnMoblie {
    display: none;
  }
  .menu-button{
    display: flex;
  }

  /* Why Choose Us Section */
  .row {
    flex-direction: column;
    align-items: center;
  }
  .row.reverse {
    flex-direction: column-reverse;
  }
  .column {
    max-width: 90%;
  }
  .column img {
    width: 6rem;
    height: 6rem;
  }

  /* Web Design Section */
  .web-design .row {
    margin-bottom: 1rem;
  }
  .web-design .carousel-item h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .web-design .carousel-item p {
    font-size: 1rem;
  }
  .carousel-controls-container {
    right: 80px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
  }
 
}
@media (min-width: 768px) {
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
  }

  .footer-logo {
    text-align: left;
  }
}
@media (max-width: 768px) {
  /* main page */
  .mainpage {
    padding: 2rem 1rem;
    background-size: cover;
    min-height: 80vh;
  }
  .main-section {
    margin: 0 5%;
  }
  .main-section .we h2 {
    font-size: 2rem;
  }
  .main-section .p p {
    font-size: 1rem;
  }
  .cta-button {
    width: 100%;
    padding: 1rem;
  }

  /* Mobile App Section */
  .mobile-app {
    padding: 0;
  }
  .mobile-app h1 {
    padding-top: 2rem;
    width: 100%;
    font-size: 2rem;
  }
  .cards {
    margin-top: 2rem;
  }

  /* Services Section */
  .services-section {
    padding-top: 5rem;
    margin-top: 2.5rem;
  }
  .section-title {
    width: 100%;
    font-size: 2rem;
  }
  .services-button {
    width: 100%;
    display: inline-block;
  }

  /* Web Design Section */
  .web-design .row {
    margin-bottom: 1rem;
  }
  .web-design .carousel-item h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .web-design .carousel-item p {
    font-size: 1rem;
  }
  .carousel-controls-container {
    right: 30px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 30px;
    height: 30px;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 15px;
  }

  /* Why Choose Us Section */
  .why-choose-us {
    margin-top: 1rem;
    padding-top: 0;
  }
  .row.reverse {
    flex-direction: column-reverse;
  }
  .column {
    max-width: 100%;
  }
  .column img {
    width: 5rem;
    height: 5rem;
  }
  .column h3 {
    font-size: 18px;
  }
  .column p {
    font-size: 14px;
  }
  .why-button {
    width: 100%;
    display: inline-block;
  }

  .contacts-section {
    padding-top: 5rem;
  }

  /* Project Section */
  .projects-button {
    width: 100%;
    display: inline-block;
  }

  /* Team Section */
  .section-header h2 {
    font-size: 2rem;
  }
  .abouts-button{
    width: 100%;
    display: inline-block;
  }
  .contacts-button{
    width: 100%;
    display: inline-block;
  }
  /* footer */
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-logo {
    text-align: center;
  }


  .why-choose-us{margin-top: 1rem; padding-top: 0;}
  .row.reverse { flex-direction: column-reverse; } 
  .column { max-width: 100%; } 
  .column img { width: 5rem; height: 5rem; } 
  .column h3 { font-size: 18px; } 
  .column p { font-size: 14px; }
  .why-button{ width: 100%; display: inline-block; }


}
@media (max-width: 480px) {

  /* main page */
  .mainpage {
    padding: 1.5rem 1rem;
    min-height: 70vh;
  }
  .main-section {
    margin: 0 2%;
  }
  .main-section .we h2 {
    font-size: 1.5rem;
  }
  .main-section .p p {
    font-size: 0.9rem;
  }
  .cta-button {
    padding: 0.8rem 1rem;
  }

  /* Mobile App Section */
  .mobile-app {
    padding: 0;
  }
  .mobile-app h1 {
    font-size: 1.5rem;
  }
  .cards {
    margin-top: 1rem;
  }

  /* Services Section */
  .services-section {
    padding-top: 5rem;
    /* padding: 10px; */
  }
  .section-title {
    width: 100%;
    font-size: 1.2rem;
  }

  /* Why Choose Us Section */
  .why-choose-us h2 {
    font-size: 20px;
  }
  .column img {
    width: 4rem;
    height: 4rem;
  }
  .column h3 {
    font-size: 16px;
  }
  .column p {
    font-size: 12px;
  }
  .contacts-section {
    padding-top: 5rem;
  }
  /* Team Section */
  .section-header h2 {
    font-size: 1.5rem;
  }

  
    /* Why Choose Us Section */
    .why-choose-us h2 { font-size: 20px; } 
    .column img { width: 4rem; height: 4rem; } 
    .column h3 { font-size: 16px; } 
    .column p { font-size: 12px; }
 
}
/* Reset and Global Styles */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { color: #508c9b; font-family: Arial, sans-serif; }

/* Background Video Styling */ 
#backgroundVideo { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; object-fit: cover; }

/* Navbar Styles */ 
.navbar { position: sticky; top: 0; z-index: 999; transition: background-color 0.3s ease; } 
.navbar-brand { font-size: 2rem; color: #40a2d8; } 

.container-fluid:hover{background-color: #fff; color: #000; cursor: context-menu;}
/* .container-fluid :hover .navbar-nav .nav-item .nav-link{color: #000;} */
/* .container-fluid:hover .nav-link:hover{color: #000; background-color: rgba(128, 128, 128, 0.612); }*/

.navbar-nav .nav-link.active , .navbar-nav .nav-link.show {
  color: #fff;
}
.container-fluid:hover .navbar-nav .nav-link, .navbar-nav  {
  color: #000;
}
.container-fluid
.navbar-brand { color: #40a2d8; }

.container-fluid:hover
.navbar-brand { color: #000; }

.brand-cio { color: #00b3b3; } 
.nav-link { color: #000; margin-right: 35px; } 
.nav-item { color: #000; } 
.navbar-toggler:hover { color: #00b3b3; border: none; } 
.navbar ul li a { font-size: 18px; height: 50px; width: 120px;color: #fff; font-weight: 400; display: flex; text-align: center; justify-content: center; align-items: center; }


/* Scrolled Navbar Styles */ 
.navbar.scrolled { background-color: white; } 
.navbar.scrolled .nav-link, 
.navbar.scrolled .navbar-brand { color: #000; }

/* Collapse Styles */ 
.collapse { font-size: large; display: flex; } 
.collapse a { border-radius: 10px; } 
.collapse a:hover { background-color: rgba(128, 128, 128, 0.612); border-radius: 10px; } 
#learn { background-color: white; text-decoration: none; color: black; height: 50px; width: 120px; display: flex; justify-content: center; text-align: center; align-items: center; border-radius: 5px; font-weight: 400; } 
#learn:hover { background-color: rgba(128, 128, 128, 0.612); }



/* Sidebar Styles */
.sidebar { position: fixed; top: 0; right: -300px; width: 250px; height: 100%; background-color: #f8f9fa; box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); z-index: 1000; transition: right 0.3s ease; }
#closeSidebar { background: none; border: none; font-size: 1.5rem; cursor: pointer; float: right; margin-right: 0.5rem; }
.sidebar .navbar-nav { flex-direction: column; }
.sidebar ul li a { color: #000; display: flex; height: 50px; width: 120px; margin-left: 1.5rem; align-items: center; }
.sidebar ul li a:hover { background-color: #131426; color: #eff9f8; height: 50px; width: 120px; display: flex; justify-content: center; text-align: center; align-items: center; }
.sidebar .nav-item { margin-bottom: 1rem; }
.sidebar .university { margin-top: 1rem; }
#sidebar.open { right: 0; }


/* Main page styling */
.mainpage { position: relative; color: #fff; background-color: transparent; background-size: cover; background-position: center; min-height: 100vh; display: flex; flex-direction: column; justify-content: flex-start; margin-top: 3rem; text-align: left; z-index: 2; }

.main-section { max-width: 100%; margin: 0 10%; }
.main-section .we h1 { font-size: 3.5rem; font-weight: 700; margin-bottom: 2rem; line-height: 3.8rem; }
.main-section .p p { font-size: 1.2rem; line-height: 1.8; margin-bottom: 2rem; }

.cta-button { background-color: #2c039b; color: #fff; border: none; padding: 1rem 2.5rem; margin-top: 2rem; font-size: 1.2rem; border-radius: 30px; box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); cursor: pointer; transition: all 0.3s ease; }
.cta-button:hover { background-color: #131426; box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2); transform: translateY(-3px); }

.bottom { display: flex; align-items: center; justify-content: space-between; margin-top: auto; }
.bottom .icons i { font-size: 2.5rem; color: #fff; }
.bottom .navigate { height: 40px; width: 40px; display: flex; justify-content: center; align-items: center; border-radius: 50%; background-color: rgba(255, 255, 255, 0.08); color: #fff; }

.highlight { background: linear-gradient(90deg, #ffbd12 0, #e03d3d 53.72%, #cd21e9 101.11%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bold; }

/* Features Section - Desktop View */
.features { display: flex; align-items: center; justify-content: space-between; width: 100%; margin-top: 1rem; flex-wrap: wrap; }

.feature-box { display: flex; flex-direction: column; flex: 1; border-radius: 24px; background: rgba(255, 255, 255, .08); -webkit-backdrop-filter: blur(24px); backdrop-filter: blur(24px); padding: 48px; height: 280px; transition: transform 0.3s ease, box-shadow 0.3s ease; margin-top: 0.5rem; margin-left: 1rem; }
.feature-box:hover { transform: translateY(-5px); box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2); }
.feature-box h3 { font-size: 1.8rem; margin-bottom: 1rem; color: #fff; }
.feature-box p { font-size: 1.2rem; line-height: 1.5; color: #c0c0c0; }


/* Mobile App Section */
.mobile-app { background-color: #bbe1fa34; padding-bottom: 5rem; padding-top: 2rem; }
.mobile-app h1 { text-align: center; font-size: 2rem; margin-bottom: 40px; font-weight: 700; color: #000; }
.cards { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px; margin-top: 40px; }
.card { background-color: #5960ee; padding: 30px 20px; border-radius: 10px; width: 100%; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 0 12px 15px rgba(0, 0, 0, 0.05); transition: transform 0.3s ease, box-shadow 0.3s ease; }
.card:hover { transform: translateY(-10px); box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15), 0 20px 40px rgba(0, 0, 0, 0.1); }
.icon { margin-bottom: 15px; }
.icon i { font-size: 2.5rem; color: white; }
.card h2 { color: white; margin-bottom: 20px; font-size: 1.5rem; font-weight: 600; }
.card p { color: #fff; font-size: 1rem; line-height: 1.5; }

/* Services Section */
.services-section { padding: 70px 20px; text-align: center; background-color: #fbf9f8; padding-top: 6rem; }
.section-title { font-size: 2rem; margin-bottom: 40px; font-weight: 500; color: #000; }
.services-button { padding: 5px 20px; border-radius: 25px; background-color: #131426; border: 1px solid #131426; color: white; font-weight: 600; }
.container { max-width: 1200px; margin: 0 auto; padding-top: 3rem; }
.services-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px; }
.service-card { background-color: #fff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px; text-align: center; transition: transform 0.3s ease-in-out; border-top: 10px solid #131426; color: #1b262c; }
.service-card:hover { transform: translateY(-10px); }
.icon { margin-bottom: 20px; }
.icon img { width: 60px; height: auto; }
.service-card h3 { font-size: 20px; margin-bottom: 15px; color: #40a2d8; }
.service-card p { font-size: 16px; line-height: 1.5; color: #333; }


/* Web Design Section */
.web-design { padding: 50px 20px; background-color: #fff; color: #000; position: relative; }
.web-design .container { max-width: 1200px; margin: 0 auto; }
.web-design .row { margin-bottom: 2.5rem; }
.web-design .carousel-item img { width: 100%; height: auto; display: block; border-radius: 30px; padding-left: 5px; padding-right: 5px; }
.web-design .carousel-item .web-design-content { text-align: justify; }
.web-design .carousel-item h2 { color: #131426; font-size: 2rem; margin-bottom: 20px; text-align: center; font-weight: 600; }
.web-design .carousel-item p { color: #1b262c; font-size: 1.2rem; line-height: 1.6; align-items: center; }
.carousel-controls-container { position: absolute; bottom: 20px; right: 170px; display: flex; justify-content: flex-end; }
.carousel-control-prev, .carousel-control-next { width: 40px; height: 40px; position: relative; display: flex; align-items: center; justify-content: center; border: 1px solid #5960ee; cursor: pointer; border-radius: 5px; }
.carousel-control-prev { margin-right: 10px; }
.carousel-control-next { margin-left: 10px; }
.carousel-control-prev-icon, .carousel-control-next-icon { filter: invert(1); }

/* Why Choose Us Section */
.why-choose-us { background-color: #fff; text-align: center; color: #333; }
.why-button { background-color: #131426; color: #fff; border: none; padding: 5px 20px; border-radius: 25px; font-weight: bold; cursor: pointer; margin-bottom: 20px; }
.why-choose-us .section-header h2 { font-size: 2rem; margin-bottom: 40px; font-weight: 500; color: #000; }
.why-choose-us h3 { color: #131426; }

/* Row and Column Layout */
.row { display: flex; justify-content: space-between; flex-wrap: wrap; margin-bottom: 40px; }
.column { flex: 1; max-width: 45%; min-width: 280px; margin-bottom: 20px; }
.column img { width: 7.5rem; height: 7.5rem; margin-bottom: 20px; }
.column h3 { font-size: 20px; font-weight: 600; margin-bottom: 15px; color: #000; }
.column p { font-size: 16px; color: #333; line-height: 1.5; text-align: justify; }



/* Project Section */
.projects-section { text-align: center; padding: 50px 20px; background-color: #f8f4eb; padding-bottom: 7rem; }
.projects-header { margin-top: 3rem; margin-bottom: 30px; }
.projects-button { background-color: #131426; color: white; border: none; border-radius: 25px; padding: 5px 20px; font-size: 16px; font-weight: 600; cursor: pointer; }
.projects-header h1 { margin-top: 2rem; font-size: 2rem; font-weight: 600; color: #000; }
.projects-list { display: flex; justify-content: space-around; margin-top: 30px; }
.project-item { font-size: 1rem; color: #666; text-align: justify; }

/* Our Team Section */
.team-section { text-align: center; padding: 50px 20px; background-color: white; color: #1b262c; }
.section-header { margin-bottom: 40px; }
.section-header .section-title { background-color: #131426; color: white; padding: 5px 20px; border-radius: 25px; display: inline-block; font-size: 1rem; margin-bottom: 20px; border: 1px solid #131426; font-weight: 600; }
.team-section .section-header h2 { font-size: 2rem; margin-bottom: 40px; font-weight: 500; color: #000; }
.underline { width: 180px; height: 2px; background-color: #40a2d8; margin: 0 auto; margin-top: 25px; }
.team-members { display: flex; justify-content: space-around; flex-wrap: wrap; gap: 20px; }
.team-member { text-align: center; max-width: 300px; }
.team-member img { width: 210px; height: 210px; border-radius: 50%; object-fit: cover; margin-bottom: 20px; transition: transform 0.3s ease; }
.team-member img:hover { transform: scale(1.1); }
.team-member h3 { font-size: 1.2rem; margin-bottom: 5px; color: #40a2d8; }
.team-member p { font-size: 1rem; color: #1b262c; }

/* About Section */
.abouts-section { text-align: center; padding: 50px 20px; background-color: #f8f4eb; padding-bottom: 7rem; }
.abouts-header { margin-top: 5rem; margin-bottom: 30px; }
.abouts-button { background-color: #131426; color: #fff; border: none; border-radius: 25px; padding: 5px 20px; font-size: 16px; font-weight: 600; cursor: pointer; }
.abouts-header h1 { margin-top: 2rem; font-size: 2rem; font-weight: 600; color: black; }
.abouts-list { display: flex; justify-content: space-around; margin-top: 30px; }
.about-item { font-size: 1rem; color: #666; text-align: justify; }


/* Contact Section */
.contacts-section { text-align: center; padding: 50px 20px; background-color: #fff; }
.contacts-header { margin-top: 3rem; margin-bottom: 30px; }
.contacts-button { background-color: #131426; color: #fff; border: none; border-radius: 25px; padding: 5px 20px; font-size: 16px; font-weight: 600; cursor: pointer; }
.contacts-header h1 { margin-top: 2rem; font-size: 2rem; font-weight: 600; color: #666; }
.contacts-list { display: flex; justify-content: center; text-align: center; align-items: center; margin-top: 30px; }
.contact-item { font-size: 1rem; color: #000; text-align: justify; }
.contact-item ul { list-style: none; }
.contact-item ul li { padding-top: 1rem; }
.contact-item ul li a { color: #000; display: flex; gap: 1rem; text-decoration: none; }
.contact-item ul li a span i { color: #000; }
.contact-item ul li a:hover { color: #131426; text-decoration: underline; }
.call-action { padding-top: 1rem; color: #000; }

/* Footer */
.footer { background-color: #131426; color: #333; padding: 40px 0; font-family: Arial, sans-serif; }
.footer-content { display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 20px; text-align: center; }
.footer-logo { margin-bottom: 20px; }
.logo-img { width: 100px; height: auto; display: block; margin: 0 auto 10px; }
.footer h2 { color: #fff; margin-bottom: 15px; font-size: 16px; }
.footer ul { list-style: none; padding-left: 0; margin: 0; }
.footer ul li { margin-bottom: 10px; }
.footer ul li a { color: #666; text-decoration: none; transition: color 0.3s ease; }
.footer ul li a:hover { color: #fff; }
.footer-logo p { margin: 10px 0 0; font-size: 14px; color: #777; text-align: center; }

/* Copyright Section */
#copy-right { background-color: #131426; color: #eff9f8; padding: 10px 0; text-align: center; font-size: 14px; width: 100%; padding-bottom: 1rem;}
#copy-right a { text-decoration: underline; color: #fff; }
#copy-right a:hover { text-decoration: underline; }
.copy-right-sec i { margin-right: 5px; }


/* Responsive Design */
@media (max-width: 1024px) {
  /* Why Choose Us Section */
  .row { flex-direction: column; align-items: center; }
  .row.reverse { flex-direction: column-reverse; }
  .column { max-width: 90%; }
  .column img { width: 6rem; height: 6rem; }

  .hideOnMoblie { display: none; }
  .menu-button { display: flex; }

  /* Web Design Section */
  .web-design .row { margin-bottom: 1rem; }
  .web-design .carousel-item h2 { margin-top: 1rem; font-size: 1.5rem; }
  .web-design .carousel-item p { font-size: 1rem; }
  .carousel-controls-container { right: 80px; }
  .carousel-control-prev, .carousel-control-next { width: 50px; height: 50px; }
  #backgroundVideo { height: 130%; }
  .mainpage { min-height: 113vh; }
}

@media (min-width: 768px) {
  .footer-content { grid-template-columns: repeat(3, 1fr); text-align: left; }
  .footer-logo { text-align: left; }
}

@media (max-width: 768px) {
  .mainpage { padding: 2rem 1rem; background-size: cover; min-height: 80vh; }
  .main-section { margin: 0 5%; }
  .main-section .we h1 { font-size: 2rem; }
  .main-section .p p { font-size: 1rem; }
  .cta-button { width: 100%; padding: 1rem; }
  
  .mobile-app { padding: 0; }
  .mobile-app h1 { padding-top: 2rem; width: 100%; font-size: 2rem; }
  
  .cards { margin-top: 2rem; }
  .feature-box { margin-left: 0; }
  
  #backgroundVideo { height: 167%; }
  
  .services-section { padding-top: 5rem; margin-top: 2.5rem; }
  .section-title { width: 100%; font-size: 2rem; }
  
  .services-button { width: 100%; display: inline-block; }
  .projects-button { width: 100%; display: inline-block; }
  .abouts-button { width: 100%; display: inline-block; }
  .contacts-button { width: 100%; display: inline-block; }
  .why-button { width: 100%; display: inline-block; }
  
  .web-design .row { margin-bottom: 1rem; }
  .web-design .carousel-item h2 { margin-top: 1rem; font-size: 1.5rem; }
  .web-design .carousel-item p { font-size: 1rem; }
  
  .carousel-controls-container { right: 30px; }
  .carousel-control-prev, .carousel-control-next { width: 30px; height: 30px; }
  .carousel-control-next-icon, .carousel-control-prev-icon { width: 15px; }
  
  .why-choose-us { margin-top: 1rem; padding-top: 0; }
  .row.reverse { flex-direction: column-reverse; }
  .column { max-width: 100%; }
  
  .column img { width: 5rem; height: 5rem; }
  .column h3 { font-size: 18px; }
  .column p { font-size: 14px; }
}

@media (max-width: 480px) {
  /* main page */
  .mainpage { margin-top: 0; padding: 1.5rem 1rem; min-height: 70vh; }
  .main-section { margin: 0 2%; }
  .main-section .we h1 { line-height: 2rem; font-size: 1.5rem; }
  .main-section .p p { font-size: 0.9rem; }
  .cta-button { padding: 0.8rem 1rem; }

  /* Mobile App Section */
  .mobile-app { padding: 0; }
  .mobile-app h1 { font-size: 1.5rem; }
  .cards { margin-top: 1rem; }
  #backgroundVideo { height: 185%; }

  /* Services Section */
  .services-section { padding-top: 5rem; }
  .section-title { width: 100%; font-size: 1.2rem; }

  /* Why Choose Us Section */
  .why-choose-us h2 { font-size: 20px; }
  .column img { width: 4rem; height: 4rem; }
  .column h3 { font-size: 16px; }
  .column p { font-size: 12px; }
  
  .contacts-section { padding-top: 5rem; }

  /* Team Section */
  .section-header h2 { font-size: 1.5rem; }
}

